body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  background-color: #FFFCFF;
  font-family: "poppins";
  background: rgb(68, 72, 77);
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  height: 100%;
  width: 100%;
}


#calendarAndWeather {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#container {
  margin-top: 40px;
  margin-left: 20%;
  width: 840px;
  padding: 10px;
  background: rgb(167, 184, 190, 0.4);
  border-radius: 20px;
}

.btn {
  width: 75px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}

#header {
  padding: 10px;
  color: #c75151;
  font-size: 36px;
  display: flex;
  justify-content: space-between;
}

#header #monthName {
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 40px;
  text-shadow: 2px 2px 2px black;
  font-family: 'Fredoka One', cursive;
}

#header button {
  background-image: linear-gradient(
    225deg,
    #26caf8, 
    #27d86c);
  border-radius: 30px;
  width: 100px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.4s;
}
#header button:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0 rgba(143, 64, 248, 0.5), -10px 10px 25px 0 rgba(39, 200, 255, 0.5);
  background-image: linear-gradient(
    225deg,
    #c625d0,
    #26caf8);
  transition: 0.3s;
} 

#weekdays {
  width: 100%;
  display: flex;
  color: #41c2e2;
  font-weight: bold;
  text-shadow: 1px 2px 1px black;
  margin-left: 10px;
}

#weekdays p {
  width: 100px;
  padding: 10px;
}

#calendar {
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#calendar .day {
  width: 110px;
  height: 110px;
  padding: 10px;
  font-weight: bold;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0px 0px 3px #ffffff;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dayCalendar:hover {
  background-color: #e8faed !important;
}

.day + #currentDay {
  background-color:#d9eefa;
}

.daySelected {
  background: #e8faed;
}

.padding {
  cursor: default !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.event {
  font-size: 12px;
  padding: 2px;
  background-color: #58bae4;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  max-height: 15px;
  overflow: hidden;
}

#addEventForm, #showEventsForm {
  display: none;
  z-index: 20;
  padding: 0 25px 25px 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 40px;
  width: 350px;
  top: 120px;
  left: calc(50% - 200px);
  position: absolute;
  text-align: center;
}
#showEventsForm {
  text-align: center;
  width: 490px;
  left: calc(50% - 270px);
  position: absolute;
}

#eventInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#eventInput.error {
  border: 1px solid #ce4949;
}

#saveButton {
  border: 1px solid #2ebb64;
  color: #2ebb64;
  height: 50px;
  transition: 0.3s;
}
#saveButton:hover {
  background: #2ebb64;
  color: #fff;
  transform: translate(0, -5px);
  box-shadow: 0 5px 20px 0 rgb(54, 51, 51);
  transition: 0.3s;
}

#cancelButton {
  border: 1px solid #ce4949;
  color: #ce4949;
  margin-left: 50%;
  height: 50px;
  transition: 0.3s;
}
#cancelButton:hover {
  background: #ce4949;
  color: #fff;
  transform: translate(0, -5px);
  box-shadow: 0 5px 20px 0 rgb(54, 51, 51);
  transition: 0.3s;
}

#eventItem1, #eventItem2, #eventItem3 {
  width:480px;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin: 3px auto;
  border: 1px solid #58bae4;
  border-radius: 10px;
  height: 35px;
  padding-right: 10px;
}

.eventText {
  font-style: italic;
  font-weight: bold;
  padding-left: 5px;
  max-width: 280px;
}

.deleteButton {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  background:url('./images/delete.png');
  background-size: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.deleteButton:hover {
  transform: translate(0, -2px);
  box-shadow: 0 5px 10px 0 rgb(54, 51, 51);
  transition: 0.3s;
}

#addButton {
  height: 50px;
  width: 50px;
  background:url('./images/add.png');
  background-position: -5px;
  border-radius: 30px;
  background-size: 120%;
  border: none;
  cursor: pointer;
  float: left;
  transition: 0.3s;
}
#addButton:hover {
  transform: translate(0, -5px);
  box-shadow: 0 5px 20px 0 rgb(54, 51, 51);
  transition: 0.3s;
}

#closeButton {
  border: 1px solid #6c89e9;
  color: #6c89e9;
  margin-left: 74%;
  height: 50px;
  width: 75px;
  float: right;
  transition: 0.3s;
}
#closeButton:hover {
  background-color: #6c89e9;
  color: #fff;
  transform: translate(0, -5px);
  box-shadow: 0 5px 20px 0 rgb(54, 51, 51);
  transition: 0.3s;
}

#backgroundForm {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
}


#weather {
  margin-left: 150px;
  margin-top: -700px;
}

#findCity {
  display: flex;
}

#city {
  height: 30px;
  width: 190px;
  padding-left: 15px;
  border-radius: 15px;
  border-style: none;
  outline: none;
}

#searchCity {
  margin-left: 20px;
  height: 30px;
  border-style: none;
  border-radius: 15px;
  background-color: #788e94;
  color: white;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
#searchCity:hover {
  transform: translate(0, -5px);
  box-shadow: 0 5px 20px 0 rgb(54, 51, 51);
  transition: 0.3s;
}

#widget {
  display: none;
  margin-top: 20px;
  background: rgb(167, 184, 190, 0.8);
  height: 440px;
  width: 280px;
  border-radius: 20px;
  text-align: center;
  font-size: bold;
  padding: 20px 0;
}

.TempNow {
  border-radius: 10px;
  background: #58bae4;
  width: 200px;
  margin: 20px auto;
}

.TempMinMax {
  display: grid;
  grid-auto-flow: column;
  font-weight: bold;
}

.TempMinMax p {
  width: 100px;
  margin-left: 15px;
}

#widget img {
  margin: -30px 0;
}

@media (max-width: 1700px) {
  #container {
      margin-left: 0;
  }
}

@media (max-width: 1300px) {
  #container {
      margin-left: 450px;
  }
}